<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction</title>
  </head>
  <body>
    <h1 data-th-object="${transaction}">
      Transaction from <span data-th-text="${transaction.getFromAccountId()}"></span> to
      <span data-th-text="${transaction.getToAccountId()}"></span> with amount of
      <span data-th-text="${transaction.getAmount()}"></span> is completed.
    </h1>
    <h3>Comment: <span data-th-text="${transaction.getComment()}"></span></h3>
  </body>
</html>
